body {
    font-family: Arial;
    background: #cc5a9e;
    text-align: center;
}

/* Login page */
#login {
    margin-top: 150px;
}

input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#error {
    color: red;
}

/* Gallery hidden first */
#gallery {
    display: none;
}

/* Gallery images */
.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.images img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}